<?xml version="1.0"?>

<launch>
<group ns="q1">
<node name="hector_target" pkg="hector_target" type="hector_target" output="screen" >
<rosparam command="load" file="$(find hector_target)/config/config.yaml" />
</node>
<node name="object" pkg="hector_target" type="object" output="screen" />
</group>


</launch>